# Dependencias
node_modules
npm-debug.log

# Sistema
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo

# Build
dist
build

# Git
.git
.gitignore

# Otros
README.md
LICENSE
*.log